@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form-libreria {
   padding: 32px 15px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   margin-top: 20px;
}

body {
    font-family: "Montserrat", system-ui;
}
.mini-container {
    padding: 32px 15px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   margin-top: 20px;
}
.title {
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
}
